<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <appSettings>
    <!--<add key="Mongo" value="mongodb://172.16.9.10:27017" />-->
    
    <!--<add key="Mongo" value="mongodb://192.168.8.60:27017" />-->
    <add key="AppId" value="99999" />
    <add key="ProcessTaskNum" value="2" />
    <add key="BlockingQueueLength" value="20000" />
    <add key="LoggingStorage" value="mongodb" />
  
    <add key="Mongo" value="mongodb://localhost:27017" />
    <add key="MetricInfluxdbHost" value="192.168.226.128" />
    <add key="MetricInfluxdbPort" value="8086" />
    <add key="MetricInfluxdbDBName" value="metrics" />
    <add key="MetricInfluxdbUser" value="root" />
    <add key="MetricInfluxdbPwd" value="root" />
    <!--Influxdb版本号-->
    <!--<add key="MetricInfluxdbVer" value="0.8" />-->
    <add key="MetricInfluxdbVer" value="0.12" />
  </appSettings>
  <connectionStrings>

  </connectionStrings>
  <system.web>
    <machineKey decryption="AES" decryptionKey="82B5CAA13D92AE1E7A9B5888AEF41AC46516B4AFE717A053" validation="SHA1" validationKey="8313C18F6505FA85520C8D3EC9D49AA75769ADF27A854D0BD05F6D99721C2088F91B4FD754C57851CFC8A57D34977D083DCA1527018265B616EA25C2035BBBC5" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off"/>
  </system.web>
 

</configuration>